alias v="nvim"
alias ls="exa"
alias l="ls"
alias ll="ls -la"
alias gpl="git pull"
alias gco="git checkout"
alias gs="git status"
alias gd="git diff"
alias ga="git add"
alias gc="git commit"
alias gps="git push"
