#Ignore all files
*

# Explicitly include files
!.gitignore
!.zshrc
!.zprofile
!.Xmodmap
!.xinitrc
!.aliases
!.config/
!.config/i3/
!.config/i3/**
!.config/nvim/
!.config/nvim/**
!.config/oh-my-zsh/
!.config/oh-my-zsh/**

