#Ignore all files
*

# Explicitly include files
!.gitignore

!.Xmodmap
!.xinitrc
!.tmux.conf

!.config/

!.config/i3/
!.config/i3/**

!.config/nvim/
!.config/nvim/**

!.zshrc
!.zprofile
!.zshenv
!.config/zsh/
!.config/zsh/**
.config/zsh/.histfile

